site_name: Smylen HIPAA Compliance Policies
site_url: https://security-policy.smylen.com/
strict: true
theme: 
  name: material
  palette:
      primary: white
      accent: blue
  logo: assets/logo.svg
  favicon: assets/favicon.ico
  features: 
    - search.suggest
    - search.highlight
    - navigation.top
